<!doctype html>
<html lang="en" manifest="/offline.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{>loadCSS}}
    {{>loadJS}}
    {{>favicon}}
</head>
<body>
<header role="banner">
    <div class="header_logoContainer">
        <svg class="logoContainer_logo" width="100%" height="100%" viewBox="0 0 59 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M55.885,23.65c-2.052,11.307 -1.854,22.075 0,32.446l-3.57,3.471c-14.101,-1.915 -29.62,-1.875 -46.469,0l-3.574,-3.475c1.917,-10.826 1.97,-21.639 0,-32.438l26.806,-21.313l26.807,21.309Z" style="fill:#fffbf3;stroke-width:2.5px;stroke:#fffbf3;"/></svg>
    </div>
    <h1 class="header_pageTitle"><a href="/{{internal_uri}}/reports" class="link__disguised">Inspection Report</a></h1>
    <a href="/logout" class="header_admin">Log Out</a>
    <div class="main_connectionInfo">
        <span class="connectionInfo__internetStatus"></span>
        <span class="connectionInfo__databaseStatus"></span>
    </div>
</header>
<main role="main">
    <div class="main_row">
        <section class="report_section section__companyInfo">
            <div class="companyInfo_company">
                <div class="company_textual">
                    <h2 class="company_name">{{company_name}}</h2>
                    <span class="company_tagline">{{company_tagline}}</span>
                    <a class="company_url" href="{{{company_url}}}">{{{company_url}}}</a>
                </div>
                <div class="company_graphical">
                    <!--<img class="company_logo" src="{{company_logo}}" alt="{{company_name}} logo">-->
                    <img class="company_logo" src="/images/integrous-web/logo.png" alt="{{company_name}} logo">
                </div>
            </div>
            <div class="companyInfo_inspector">
                <p class="inspector_name"><span class="contactInfo_label">Inspector: </span><span class="inline_text" contenteditable="true">{{inspector_name}}</span></p>
                <p class="inspector_phone"><span class="contactInfo_label">Phone: </span><span class="inline_text" contenteditable="true">{{inspector_phone}}</span></p>
                <p class="inspector_email"><span class="contactInfo_label">Email: </span><span class="inline_text" contenteditable="true">{{inspector_email}}</span></p>
            </div>
        </section>
        <section class="report_section section__customerInfo">
            <h2 class="customer_inspectionType">Side Sewer Inspection Report</h2>
            <span class="customer_inspectionDate" contenteditable="true">{{today}}</span>
            <p class="customer_site"><span class="contactInfo_label">Inspection Site: </span><span class="inline_text" contenteditable="true">First Line<br>Second Line</span></p>
            <p class="customer_name"><span class="contactInfo_label">Customer: </span><span class="inline_text" contenteditable="true">Customer Name</span></p>
            <p class="customer_agent"><span class="contactInfo_label">Agent: </span><span class="inline_text" contenteditable="true">Agent Name</span></p>
        </section>
    </div>
    <div class="main_row">
        <section class="report_section section__summary">
            <h2 class="summary_title sectionEmphasis">Inspection Summary</h2>
            <h3>Composition</h3>
            <p class="js_summary__composition summary_paragraph" contenteditable="true">
            </p>
            <h3>Abnormalities</h3>
            <p class="js_summary__abnormalities summary_paragraph" contenteditable="true">
            </p>
            <h3>Recommendations</h3>
            <p class="js_summary__recommendations summary_paragraph" contenteditable="true">
            </p>
        </section>
        <section class="report_section section__invoice">
            <h2 class="invoice_title sectionEmphasis">Invoice</h2>
            <table class="invoice_table">
                <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table_quantity" contenteditable="true">01</td>
                    <td class="table_item" contenteditable="true">Scope, Video, Report</td>
                    <td class="table_price" contenteditable="true">$250</td>
                </tr>
                </tbody>
            </table>
            <button class="primaryAction">Pay Invoice</button>
        </section>
    </div>
    <section class="js_compositionParentNode js_eventDelegation report_section section__composition">
        <h2 class="report_sectionTitle">Composition</h2>
        <span class="compositionStatusMessage">
        </span>
        <div class="report_formBlock js_compositionClone">
            <span class="formBlock__inline">distance<input size="15" class="js_inputWidth js_generateNew formBlock_input input__inline" id="distanceComp0" name="distanceComp0" type="text" placeholder="at x ft"></span>
            <span class="formBlock__inline">event<input size="15" class="js_description js_inputWidth formBlock_input input__inline" id="eventComp0" list="eventCompDL" name="eventComp0" type="text" placeholder="&darr; choose an event"></span>
            <label class="formBlock_label">description<textarea class="js_inputHeight formBlock_textarea" id="descriptionComp0" name="descriptionComp0" placeholder="description"></textarea></label>
        </div>
    </section>
    <section class="js_abnormalitiesParentNode js_eventDelegation report_section section__abnormalities">
        <h2 class="report_sectionTitle">Abnormalities</h2>
        <div class="report_formBlock js_abnormalitiesClone">
            <span class="formBlock__inline">distance<input size="15" class="js_inputWidth js_generateNew formBlock_input input__inline" id="distanceAbnorm0" name="distanceAbnorm0" type="text" placeholder="at x / from x to x"></span>
            <span class="formBlock__inline">event<input size="15" class="js_description js_inputWidth formBlock_input input__inline" id="eventAbnorm0" name="eventAbnorm0" list="eventAbnormDL" type="text" placeholder="&darr; choose an event"></span>
            <span class="formBlock__inline">grade<input size="15" class="js_description js_inputWidth formBlock_input input__inline" id="gradeAbnorm0" name="gradeAbnorm0" list="gradeAbnormDL" type="text" placeholder="&darr; choose a grade"></span>
            <label class="formBlock_label">description<textarea class="js_inputHeight formBlock_textarea" id="descriptionAbnorm0" name="descriptionAbnorm0" placeholder="description"></textarea></label>
        </div>
    </section>
    <section class="report_section section__legal">
        <h2 class="report_sectionTitle">Legal Notice</h2>
        <p class="legal_paragraph">Receipt of this inspection report provided by {{company_name}} constitutes an agreement to hold harmless {{company_name}} against all damages. {{company_name}} agrees to perform all services in a professional and workmanlike manner. However, {{company_name}} cannot guarantee the accuracy of their findings. The sole remedy for dissatisfaction with the service provided by {{company_name}} is a refund of the price paid for that service.</p>
    </section>
    <section class="js_eventDelegation report_section section__sharing">
        <h2 class="report_sectionTitle">Report Sharing</h2>
        <form class="js_sharingForm" role="form" action="/{{internal_uri}}/reports/generator" method="POST">
            <div class="report_formBlock js_sharingParentNode">
                <!--<span class="formBlock__inline js_sharingClone">email<input size="15" class="js_inputWidth formBlock_input input__inline {{emailClass}}" id="sharingEmail0" name="email" type="email" placeholder="email@example.com"></span>-->
            </div>
            <button class="js_shareReport primaryAction" data-id="">Share This Report</button>
            <a class="js_previewReport link__disabled" target="_blank">Preview This Report</a>
        </form>
        <button class="js_saveReport tertiaryAction">Save Report</button>

    </section>
</main>
<footer role="contentinfo">
    <div class="main_connectionInfo">
        <span class="connectionInfo__internetStatus"></span>
        <span class="connectionInfo__databaseStatus"></span>
    </div>
</footer>
<datalist id="eventCompDL">
    <option value="access point"></option>
    <option value="end point"></option>
    <option value="tie in"></option>
    <option value="transition"></option>
</datalist>
<datalist id="accessCompDL">
    <option value="basement"></option>
    <option value="crawlspace"></option>
    <option value="garage"></option>
    <option value="laundry room"></option>
    <option value="outside"></option>
    <option value="pulled toilet"></option>
    <option value="roof vent"></option>
</datalist>
<datalist id="endCompDL">
    <option value="blockage"></option>
    <option value="break"></option>
    <option value="city main"></option>
    <option value="foreign object"></option>
    <option value="max run"></option>
    <option value="offset"></option>
    <option value="resistance"></option>
</datalist>
<datalist id="tieCompDL">
    <option value="from above"></option>
    <option value="from left"></option>
    <option value="from right"></option>
</datalist>
<datalist id="matCompDL">
    <option value="ABS"></option>
    <option value="cast iron"></option>
    <option value="vitrified clay"></option>
    <option value="concrete"></option>
    <option value="copper"></option>
    <option value="lead"></option>
    <option value="Orageburg"></option>
    <option value="PVC"></option>
    <option value="SDR"></option>
    <option value="Transite"></option>
</datalist>
<datalist id="eventAbnormDL">
    <option value="break"></option>
    <option value="buildup"></option>
    <option value="corrosion"></option>
    <option value="erosion"></option>
    <option value="foreign object"></option>
    <option value="fracture"></option>
    <option value="low area"></option>
    <option value="offset"></option>
    <option value="root intrusion"></option>
</datalist>
<datalist id="gradeAbnormDL">
    <option value="slight"></option>
    <option value="moderate"></option>
    <option value="severe"></option>
</datalist>
{{>pouchDB}}
</body>
</html>


